**/build
**/node_modules
**/coverage
**/storybook-static
**/.nx.cache

_tmp/
logs
deploy/cdk.out
deploy/cdk.context.json


*.log*
*.pnp
*.pnp.js
.idea
.DS_Store
.env.local
.env.dev
.env.development
.env.development.local
.env.test.local
.env.production.local
.dccache
.dcignore
.DS_Store

